.CarDetail {
  padding: 0;
}

.CarDetail--spec-table {
  background: none;
}

.CarDetail--spec-table td {
  text-align: left;
}

.CarDetail--image {
  transition: opacity .2s ease-in;
}

@media screen and (min-width: 768px) {
  .CarDetail {
    padding: 30px 40px;
  }
}
