/* ---- INVENTORY  ---- */
.Inventory {
  padding: 25px 45px;
  text-align: left;
}

.Inventory__header {
  text-align: center;
  font-size: 2em;
  padding: 15px 0;
  margin: 0;
  color: #000000;
}

/* - INVENTORY CARDS - */

.InventoryCard {
  padding: 0;
}

/* height hack: padding as a percent is calculated as a % of the width */
.img-placeholder {
  position: relative;
  padding-top: 69.3%;
  background: #E4E4E4;
}

.InventoryCard__image {
  transition: opacity .25s ease-in;
  position: absolute;
  top: 0;
}

.sold-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
  background: rgba(0, 0, 0, 0.5)
}

.sold-overlay::after {
  position: absolute;
  top: 0;
  font-size: 5em;
  content: "SOLD";
  font-weight: bolder;
  color: #BADA55;
  margin-top: 20%;
}

.InventoryCard__text {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  color: #FFFFFF;
  text-shadow: 1px 1px #000000;
  position: absolute;
  top: 0;
  z-index: 3;
}

.InventoryCard__text-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: flex-end;
}

.InventoryCard__price {
  font-size: 1.25em;
  font-weight: 100;
  padding: 0 10px 5px 0;
  margin: 0;
}

.InventoryCard__miles {
  font-size: .75em;
  font-style: italic;
  padding-right: 10px;
}

.InventoryCard__model {
  font-size: 1.5em;
  align-self: flex-end;
  padding: 0 10px;
}

@media only screen and (min-width: 900px) {
  .Inventory__header {
    font-size: 4vmax;
    text-align: left;
    font-weight: bold;
    padding: 25px 30px 10px;
  }

  .InventoryList {
    padding: 15px;
  }

  .InventoryCard {
    padding: 15px;
  }

  .sold-overlay::after {
    margin-top: 25%;
  }

  .InventoryCard__price {
    font-size: 2em;
  }

  .InventoryCard__miles {
    font-size: 1em;
  }

  .InventoryCard__model {
    font-size: 2em;
  }
}
