#About {
  text-align: left;
  color: #000000;
}

.About__owner-image-container {
  padding: 0;
}

.About__owner-image {
  position: relative;
  height: auto;
  width: 100%;
}

.About__header {
  font-size: 4vmax;
  font-weight: 100;
  position: relative;
}

.About__owner-text {
  font-weight: 100;
  position: relative;
  padding: 0 0 15px 0;
}

@media only screen and (min-width: 768px) {
  .About__owner-image {
    position: fixed;
    bottom: 0;
    width: auto;
    min-width: 40vw;
  }

  .About__header {
    font-size: 6vmax;
    padding-top: 14vh;
  }

  .About__owner-text {
    padding: 0 25px 20px 0;
    font-size: 1.75vmax;
  }
}

/* iPhone <=5 font fix */
@media only screen and (max-width: 320px) {
  .About__owner-text {
    font-size: .75em;
  }
}
