#About {
  min-height: 60vh;
  z-index: 3;
  padding-bottom: 50px;
}

.About--header {
  padding: 25px;
  color: #000000;
}

.About--highlights {
  padding: 0 25px;
}

.About--glyphicon {
  padding: 30px 10px 15px;
  font-size: 4em !important;
  color: #5A92C5;
}
