.Home__container {
  text-align: center;
  background: url(./hero-home.jpeg) no-repeat center center scroll;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.Home {
  transition: height .5s ease-out;
}

.Home__header {
  padding-top: 5%;
  color: #FFFFFF;
  color: rgba(255, 255, 255, 0.75);
}

.Home__heading {
  font-size: 2.75em !important;
  font-weight: bolder;
}

.scrollDown {
  position: relative;
  top: 35vh;
  background: none;
  border: none;
  color: #FFFFFF;
  color: rgba(255, 255, 255, 0.75);
  font-size: 2.75em;
}

@media only screen and (min-width: 768px) {
  .Home__container {
    background-attachment: fixed;
  }

  .scrollDown {
    top: 40vh;
    padding-top: 0;
  }
}

@media only screen and (min-width: 1080px) {
  .Home__header {
    padding-top: 4%;
  }

  .Home__heading {
    font-size: 4em !important;
  }
}
/* ---------- iPhone <= 5 ---------- */
@media only screen and (max-width: 320px) {
  .Home__heading {
    font-size: 2.25em !important;
  }

  .scrollDown {
    top: 15vh;
  }
}
