#Contact {
  min-height: 100vh;
  color: #E5E5E5;
}

.Contact__header {
  padding: 25px;
}

.Contact__form {
  padding: 30px 0;
}

#Contact .subtext:first-child {
  margin: 0 !important;
}

.align-left {
  text-align: left
}

.form-group {
  width: 100%;
}

.btn-primary {
  width: 100%;
}

@media only screen and (min-width: 600px) {

  .Contact__form {
    padding: 0 150px 30px;
  }

  .form-group {
    margin: 15px 0;
  }

  .btn-primary {
    width: auto;
  }
}
