.form-fields-container--left,
.form-fields-container--right {
  padding: 0 15px;
}

.form-fields-container--right {
  padding-bottom: 15px;
}

.form-group textarea {
  font-size: 16px;
  min-height: 88px;
}

@media only screen and (max-width: 767px) {
  .form-header  {
    padding-bottom: 10px;
  }
}

@media only screen and (min-width: 768px) {
  .Dashboard__form {
    padding: 0 25px;
  }
  .form-fields-container--left {
    padding-right: 20px;
  }

  .form-fields-container--right {
    padding-left: 20px;
  }

  .Dashboard__form .btn-primary {
    width: 100%;
  }
}
