.Customers,
.ManageInventory {
  min-height: 100vh;
  padding: 5px 10px;
}

.Customers-header,
.ManageInventory-header {
  text-align: center;
}

table {
  background: #F9F9F9;
}

.table-responsive {
  margin: 25px 0;
}

td {
  font-size: 1em;
}

thead {
  background: #FFFFFF;
  color: #000000;
}

.table-striped > tbody > tr:nth-of-type(even) {
  background: #FFFFFF;
}

@media only screen and (min-width: 768px) {
  .Customers,
  .ManageInventory {
    padding: 5px 40px;
  }

  .Customers-header,
  .ManageInventory-header {
    text-align: left;
  }

  td:not(:first-child) {
    text-align: center;
  }
}
